bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
.idea/

Bones.Api.xml
Bones.Database.xml
Bones.Shared.xml

# Tests
Bones.Backend.UnitTests.xml
Bones.Database.UnitTests.xml
Bones.Shared.UnitTests.xml
Bones.Testing.Shared.xml