@attribute [Route(FrontEndUrls.Account.LOGOUT)]

<h3>Logout</h3>

<p>Logging you out now...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ApiClient.LogoutAsync();
        await AuthStateProvider.ClearCurrentUserAsync(CancellationToken.None);

        NavManager.NavigateTo("/");
    }
}