[Unit]
Description=Bones Background Service

[Service]
Type=simple
ExecStart=/usr/local/bin/Bones.BackgroundService

[Install]
WantedBy=multi-user.target