name: .NET Build & Test

on:
  push:
    branches:
      - 'develop'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  test:
    name: .NET Build & Test
    runs-on: ubuntu-latest
    env:
      # Shouldn't be needed, but just in case want to force this with an environment variable
      Database__UseInMemoryDb: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build
        run: dotnet build --no-incremental

      - name: Test
        run: dotnet test --no-build
      